/* Containers */
.mainCont {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.middle {
  display: flex;
  justify-content: center;
  animation: onLoad 1s;
  animation-delay: 10s;
}

@media (max-width: 700px) {
  .flexCont {
    display: flex;
    background-color: var(--lightergrey);
    width: 100%;
    height: auto;
    max-height: max(min(30vw, 450px), 250px);
    margin-top: 30px !important;
    padding-bottom: max(min(5.5vw, 40px), 18px);
    border-radius: max(min(1vw, 10px), 6px);
    margin: max(min(5.5vw, 40px), 18px), max(min(2vw, 20px), 12px) 0px,
      max(min(2vw, 20px), 12px) 0px, max(min(2vw, 20px), 12px) 0px;
    transition: 0.3s;
  }

  .flexContLight {
    display: flex;
    width: 100%;
    max-height: max(min(30vw, 400px), 200px);
    border-radius: 10px;
    margin-top: 20px !important;
    margin: max(min(2vw, 20px), 12px) 0px;
    transition: 0.3s;
  }
  .canvasCont {
    width: 32%;
    height: 100%;
    background-color: var(--white);
    margin: max(min(2vw, 20px), 12px);

    background: var(--white);
    background-image: radial-gradient(var(--lightgrey) 1.2px, transparent 0);
    background-size: 35px 35px;
    background-position: 0px 0px;

    border-radius: max(min(1vw, 10px), 6px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17) inset;
    transition: 0.3s;
  }
  .canvasContLight {
    width: 32%;
    height: 100%;

    background: var(--white);
    background-image: radial-gradient(var(--lightgrey) 1.1px, transparent 0);
    background-size: 25px 25px;
    background-position: 0px 0px;

    margin: max(min(2vw, 30px), 12px) max(min(2vw, 20px), 12px)
      max(min(2vw, 20px), 12px) 0px;
    border-radius: max(min(1vw, 10px), 6px);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset;
    transition: 0.3s;
  }
}

@media (min-width: 700px) {
  .flexCont {
    display: flex;
    background-color: var(--lightergrey);
    width: 100%;
    height: auto;
    max-height: max(min(30vw, 450px), 250px);
    padding-bottom: max(min(5.5vw, 40px), 18px);
    border-radius: max(min(1vw, 10px), 6px);
    margin-top: 10px !important;
    margin: max(min(5.5vw, 40px), 18px), max(min(2vw, 20px), 12px) 0px,
      max(min(2vw, 20px), 12px) 0px, max(min(2vw, 20px), 12px) 0px;
    transition: 0.3s;
  }
  .flexContLight {
    display: flex;
    width: 100%;
    max-height: max(min(30vw, 400px), 200px);
    margin-bottom: max(min(2vw, 20px), 12px);
    border-radius: 10px;
    transition: 0.3s;
  }
  .canvasCont {
    width: 40%;
    height: 100%;
    margin: max(min(2vw, 20px), 12px);

    background: var(--white);
    background-image: radial-gradient(var(--lightgrey) 1.2px, transparent 0);
    background-size: 35px 35px;
    background-position: 0px 0px;

    border-radius: max(min(1vw, 10px), 6px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17) inset;
    transition: 0.3s;
  }
  .canvasContLight {
    width: 40%;
    height: 100%;

    background: var(--white);
    background-image: radial-gradient(var(--lightgrey) 1.2px, transparent 0);
    background-size: 35px 35px;
    background-position: 0px 0px;

    margin: max(min(2vw, 20px), 12px) max(min(2vw, 20px), 12px)
      max(min(2vw, 20px), 12px) 0px;
    border-radius: max(min(1vw, 10px), 6px);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset;
    transition: 0.3s;
  }
}
.textContLight {
  width: 100%;
  height: 100%;
  margin: max(min(2vw, 20px), 12px) 0px max(min(2vw, 20px), 12px) 0px;
  border-radius: max(min(1vw, 10px), 6px);
  background-color: var(--lightestgrey);
  padding: max(min(1vw, 20px), 7px) max(min(2vw, 20px), 15px);
  transition: 0.3s;
}

.textCont {
  width: 100%;
  height: 100%;
  margin: max(min(2vw, 20px), 12px) max(min(2vw, 20px), 12px)
    max(min(2vw, 20px), 12px) 0px;
  border-radius: max(min(1vw, 10px), 6px);
  background-color: var(--lightestgrey);
  padding: max(min(1vw, 20px), 7px) max(min(2vw, 20px), 15px);
  transition: 0.3s;
}

/* Text */

.title {
  padding: max(min(0.5vw, 25px), 0px) 0 0 0;
  font-size: var(--LG);
  font-weight: bold;
}

.subTitle {
  padding: max(min(0.7vw, 25px), 5px) 0 0 0;
  font-weight: 600;
  font-size: var(--M);
}

.desc {
  padding: max(min(0.5vw, 10px), 3px) 0 0 0;
  font-size: var(--S);
}

.precio {
  font-size: var(--S);
  font-weight: 600;
  padding: max(min(2vw, 20px), 7px) 0 0 0;
}

/* Buttons */
.buttons {
  display: flex;
}
.spacing {
  width: max(min(1vw, 12px), 7px);
}
.btn {
  font-size: var(--XS);
  color: var(--darkgrey);
  margin: max(min(1vw, 20px), 7px) 0 0 0;
  padding: max(min(0.7vw, 11px), 6px);
  border-radius: 50px;
  border: 2.7px solid #ccc;
  background-color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #888;
  transition: 0.2s;
  cursor: pointer;
}

.selectedBtn {
  font-size: var(--XS);
  color: var(--black);
  margin: max(min(1vw, 20px), 7px) 0 0 0;
  padding: max(min(0.7vw, 11px), 6px);
  border: 2.7px solid #000;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

/* Images */
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: max(min(1vw, 10px), 6px);
}

.imgCont {
  height: 100%;
  width: 60%;
  background-color: var(--white);
  margin: max(min(2vw, 20px), 12px);
  border-radius: max(min(1vw, 10px), 6px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) inset;
  transition: 0.3s;
}

/* On Load */
@keyframes onLoad {
  from {
    font-strerch: normal;
  }
  to {
    font-strerch: normal;
  }
}

/* Warning */

.warning {
  position: relative;
  background-color: var(--lightgrey);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  max-height: max(min(30vw, 400px), 200px);
  border-radius: max(min(1vw, 10px), 6px);
  margin: max(min(1vw, 20px), 7px) max(min(2vw, 20px), 12px);
  padding: max(min(2vw, 20px), 12px);
  animation: opacityIn 1s;
}

.warningLight {
  position: relative;
  background-color: var(--lightergrey);
  display: flex;
  width: 100%;
  max-width: 1160px;
  max-height: max(min(30vw, 400px), 200px);
  border-radius: max(min(1vw, 10px), 6px);
  margin: max(min(1vw, 20px), 7px) max(min(4vw, 40px), 12px);
  padding: max(min(2vw, 20px), 12px);
  animation: opacityIn 1s;
}
.warningText {
  padding: max(min(0.5vw, 10px), 3px) 0 0 max(min(0.8vw, 12px), 5px);
  font-size: max(min(1.4vw, 1.2rem), 0.7rem);
}

.warningButton {
  padding: max(min(0.5vw, 10px), 3px) 0 0 max(min(0.8vw, 12px), 5px);
  font-size: max(min(1.4vw, 1.3rem), 0.7rem);
  font-weight: bold;
  cursor: pointer;
}

.warningButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.closeIcon {
  height: max(min(1.9vw, 20px), 12px);
  position: absolute;
  right: max(min(1.9vw, 20px), 12px);
}
.closeIcon:hover {
  cursor: pointer;
}

/* Opacity In*/
@keyframes opacityIn {
  from {
    opacity: 0%;
  }
  to {
    pacity: 100%;
  }
}

/* Config */
.configCont {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto 0px auto;
  font-weight: bold;
  font-size: var(--M);
  background-color: var(--lightestgrey);
  padding: 20px 40px;
  border-radius: max(min(0.5vw, 10px), 5px);
}
.separateCont {
  display: flex;
  margin: 10px 10px;
}

.configBtn {
  border: 2.7px solid var(--grey);
  border-radius: 35px;

  padding: 7px 15px;
  margin: 0px 10px;

  background-color: var(--white);
  color: var(--darkgrey);

  font-weight: 400;
  font-size: var(--XS);
  transition: 0.4s;
  cursor: pointer;
}
.configBtn:hover {
  border: 2.7px solid var(--darkgrey);
  cursor: pointer;
  transition: 0.4s;
}
.activeConfig {
  border: 2.7px solid var(--black);
  border-radius: 35px;

  padding: 7px 15px;
  margin: 0px 10px;

  background-color: var(--white);
  color: var(--black);

  font-weight: 400;
  font-size: var(--XS);
  transition: 0.4s;
  cursor: pointer;
}
